body {
  background-color: rgb(91, 127, 158);
}

h1 {
  font-family : georgia;
}

.catdaddy {
  margin-left: 80px;
  border : 8px solid rgb(51, 6, 71);
  border-style: inset;
  width : 20%;
  height : auto;
  float : left;
}

.github {
  color : rgb(253, 253, 253);
  background-color: rgb(99, 99, 99);
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  margin : 20px;
  margin-right : 50px;
  border: 6px solid rgb(48, 7, 160);
  padding : 4px;
  box-sizing: border-box;
  width : 50%;
  float : right;
}

.about {
  color : rgb(253, 253, 253);
  background-color: rgb(99, 99, 99);
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  margin: 20px;
  margin-right : 50px;
  border: 6px solid rgb(48, 7, 160);
  padding: 8px;
  box-sizing: border-box;
  width : 50%;
  float : right;
}

.moreabout {
  color : rgb(253, 253, 253);
  background-color: rgb(99, 99, 99);
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  margin: 20px;
  margin-right : 50px;
  margin-bottom: 100px;
  border: 6px solid rgb(48, 7, 160);
  padding: 8px;
  box-sizing: border-box;
  width : 75%;
  float : right;
}

.containerheads {
  color : rgb(115, 77, 252);
  background-color : rgb(18, 11, 56);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(129, 10, 10);
  color: white;
  text-align: center;
}